.header{
    transition: all 0.3s ease-in-out;
}

.nav{
    width: 70%;
    max-width: 30em;
    margin: 0 auto;
    padding: 0.5em;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #EE1D23;
    position: fixed;
    left: 50%;
    top: 1.5em;
    transform: translate(-50%);
    z-index: 2;
    transition: all 0.3s ease-in-out;
}

.logo{
    max-height: 15em;
    filter: invert(92%) sepia(4%) saturate(571%) hue-rotate(319deg) brightness(103%) contrast(105%);
    z-index: 3;
    transition: all 0.3s ease-in-out;
}

.logoWrapper{
    height: fit-content;
    width: auto;
    background-color: #EE1D23;
    border-radius: 15px;
    position: fixed;
    left: 50%;
    top: 1.5em;
    transform: translate(-50%);
    z-index: 3;
    transition: all 0.3s ease-in-out;
}