.footer{
    width: 100%;
    height: fit-content;
    background-color: #EE1D23;
    text-align: center;
    padding: 2.5em 0 2.5em 0;
    color: #FFF6F3;
    margin-top: auto;
}

.wrapper{
    width: fit-content;
    max-width: 45em;
    height: fit-content;
    display: grid;  
    margin: 0 auto;
    grid-template-columns: auto auto auto;
    column-gap: 3em;
}

@media screen and (width<=700px){
    .wrapper{
        grid-template-columns: auto auto;
        row-gap: 3em;
    }

    .brand{
        grid-column: span 2;
        margin: 0 auto;
    }
}

@media screen and (width<=480px) {
    .wrapper{
        grid-template-columns: auto;
        row-gap: 3em;
    }

    .brand{
        grid-column: span 1;
        margin: 0;
    }
}

.dataPolicy, .contact{
    width: fit-content;
    display: grid;
    flex-direction: column;
    text-align: left;
}

.dataPolicy{
    display: flex;
    flex-direction: column;
    gap: 0.9em;
}

.heading{
    font-size: 1.5em;
    font-weight: bold;
}

.phone, .mail, .instagram{
    width: 2em;
    /*filter: invert(57%) sepia(22%) saturate(581%) hue-rotate(322deg) brightness(94%) contrast(90%);
    filter: invert(21%) sepia(90%) saturate(3232%) hue-rotate(346deg) brightness(92%) contrast(104%);*/
    filter: invert(92%) sepia(2%) saturate(1754%) hue-rotate(317deg) brightness(104%) contrast(106%);
}

.phoneWrapper, .mailWrapper, .instagramWrapper{
    display: flex;
    margin: 0.5em 0 0.5em 0;
    align-items: center;
    gap: 0.5em;
}

.brand{
    display: flex;
    align-items: start;
    width: fit-content;
    height: auto;
    font-size: 2em;
    text-align: left;
    font-style: italic;
}

.logo{
    width: 5em;
    filter: invert(92%) sepia(2%) saturate(1754%) hue-rotate(317deg) brightness(104%) contrast(106%);
}